  <div class="main-container">

    <a id="top"></a>

    <div class="first-background">

      <div class="name-block">

        <h2 class="short-description">Front End Developer</h2>

        <h1 class="profile-name">Anthony Barba</h1>

        <div class="social-links">
          <a href="http://www.linkedin.com/in/barbaanthony" class="linkedin">LINKEDIN</a>
          <a href="#aboutme" class="about-me">ABOUT ME</a>
          <a href="#resume" class="resume">RESUME</a>
          <a href="#projects" class="projects">PROJECTS</a>
        </div>

      </div>

    </div>

    <div class="second-background">

      <a id="aboutme"></a>

      <div class="second-background-shading">

        <div class="about-me-content">
            <h2 class="about-me-header">About Me</h2>

              <div class="second-nav">
                <a href="#top" class="second-top">TOP</a>
                <a href="#resume" class="second-resume">RESUME</a>
                <a href="#projects" class="second-projects">PROJECTS</a>
              </div>

              <div class="about-me-scroll">
                <p class="about-me-paragraph">As a recent graduate of the Iron Yard, I have now added front end web development to my arsenal of abilities.  The design and development of an application in terms of the user interface is very important to me and I take great pride in creating not only well functioning but intriguingly designed apps.   My training includes the understanding and implementation of AJAX and JSON data as well as knowledge with JavaScript frameworks like Backbone and Ember.</p>
                <p class="about-me-disclaimer"><strong>Disclaimer:</strong> I understand this site does not meet proper design principles but each background describes a favorite book or interest of mine and I thought this would be a fun way to show part of my personality.</p>
              </div>

        </div>

      </div>

    </div>

    <a id="resume"></a>

    <div class="third-background">

      <div class="resume-content">

        <h2 class="resume-header">Resume</h2>

        <div class="third-nav">
          <a href="#top" class="third-top">TOP</a>
          <a href="#aboutme" class="third-about-me">ABOUT ME</a>
          <a href="#projects" class="third-projects">PROJECTS</a>
        </div>

        <div class="resume-scroll">

          <p class="my-resume">
            <p>
                <strong> </strong>
            </p>
            <br clear="ALL"/>
            <p class="my-resume">
                <strong>Academic Degree:</strong>
                <strong> </strong>
                BA in Communications Studies; Furman University, Greenville SC; May 2013;
            </p>
            <p class="my-resume">
                GPA 3.1/Major GPA 3.3
            </p>
            <p class="my-resume">
                <strong>Specialty Degrees: </strong>
                Graduate of The Iron Yard in Greenville, SC (Front End Engineering)
            </p>
            <p class="my-resume">
                <strong>Certificates: </strong>
                Introduction to Web Design; CSS for Mobile Layout; Dreamweaver for Fast Web Design; Photoshop; Web Design from Northern Virginia Community College
                2013-2014<strong></strong>
            </p>
            <p class="my-resume">
                <strong>Experience </strong>
            </p>
            <ul>
                <li class="my-resume">
                    <strong>Entrepreneur</strong>
                    (July 2013-present)
                    <em>
                        Designed computer game that is in the prototype stage and conducted user survey for entertainment and quality assurance purposes; started a small
                        business.
                    </em>
                </li>
                <li class="my-resume">
                    <strong>Regional Sales Assistant, WYNIT Distribution, LLC </strong>
                    (March 2015 – May 2015) <em>Processed sales with the west coast region and handled customer relations.<strong></strong></em>
                </li>
                <li class="my-resume">
                    <strong>Sales/Marketing Rep, Phoenix Marketing </strong>
                    (Sept. 2014 – Feb. 2015) <em>Market and sell DIRECTV services, plans, and upgrades to the public<strong></strong></em>
                </li>
                <li class="my-resume">
                    <strong>Programs &amp; Marketing Intern</strong>
                    , <strong>Cause-USA (Non-profit) (</strong>March 2014-July 2014)
                    <em>
                        Updated social media platforms and website with relevant news articles and information; conducted potential donor research and inquiries via phone,
                        mail, e-mail; prepared spreadsheets with program metrics; created PowerPoint presentations; re-designed flyers and marketing material to make more
                        eye catching.
                    </em>
                </li>
                <li class="my-resume">
                    <strong>Youth Sports Instructor/Referee,</strong>
                    <strong>i9 Sports</strong>
                    (April 2014-June 2014), <em>Instruct, coach, referee, youth flag football on weekends</em>
                </li>
                <li class="my-resume">
                    <strong>Marketing Intern,</strong>
                    <strong>Order Sons of Italy (Non-profit)</strong>
                    (Summer 2011)
                    <em>
                        Wrote and edited magazine articles; corresponded with Regional offices; maintained member database; prepared membership mailings; answered phones,
                        etc.
                    </em>
                </li>
                <li class="my-resume">
                    <strong>Brand Ambassador, Victory Marketing</strong>
                    (Summer 2011)<strong> </strong><em>Promoted various food and sports products to the public </em>
                </li>
            </ul>
            <p class="my-resume">
                <strong>Specialized Training</strong>
            </p>

            <ul>
                <li class="my-resume">
                    Sports Communication Summer Institute – Fordham University, New York (July 2011)
                </li>

                <li class="my-resume">
                    Furman University Study Abroad Program – Turkey (May 2012)
                </li>
            </ul>
            <p class="my-resume">
                <strong>Knowledge, Skills, and Abilities</strong>
            </p>
            <p class="my-resume">
                Microsoft Office Word, Excel, PowerPoint; Mac and PC operating systems; HTML; Adobe Photoshop; WordPress; social media (Facebook, Twitter, LinkedIn,
                Instagram, YouTube, HootSuite, etc.); coordinate and execute events and activities; team leader; excellent oral and written communication skills; strong
                organizational skills, articulate; sales and customer service
            </p>
            <p class="my-resume">
                <strong>Applicable Collegiate Academic Courses </strong>
            </p>
            <p class="my-resume">
                Digital Communication, Marketing, Media Arts and Design, Spanish 2 and 3, Health and Exercise Science, Writing Seminar, Economics, Public Speaking
            </p>
          </p>

        </div>

      </div>

    </div>

    <a id="projects"></a>

    <div class="fourth-background">

      <div class="project-content">

        <h2 class="project-header">Projects</h2>

        <div class="fourth-nav">
          <a href="#top" class="fourth-top">TOP</a>
          <a href="#aboutme" class="fourth-about-me">ABOUT ME</a>
          <a href="#resume" class="fourth-resume">RESUME</a>
        </div>

      </div>

    </div>


  </div>
